/ -@posts.each do |post|
/   .row  
/     =link_to (image_tag post.image.url(:medium)), post_path(post)
/     %p= post.caption

.posts-wrapper.row
  -@posts.each do |post|
    .post
      .post-head
        .name
          Ben Walker
      .image.center-block
        =link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
      %p.caption
        =post.caption